{
  "extends": ["next/core-web-vitals"],
  "settings": {
    "import/resolver": {
      "alias": {
        "map": ["src"],
        "extensions": [".js", ".jsx", ".json"]
      }
    }
  },
  "overrides": [
    {
      "files": "",
      "rules": {}
    }
  ],
  "rules": {}
}
